# Content
* [1. Data Summary](#1)
* [2. Logit Regression for one variable](#2)

In [32]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression

<a id="1"></a>
## 1.Data Summary

In [6]:
data = pd.read_csv(r"C:\Users\221041007\Jupyter\Fin-Tech\Assignment1\Input\MDS6212 Week 1 Data.csv",encoding="gbk")
data.head()

,uid,id,provincecode,birthday,age,gender,areaid,provincename,cityname,areaname,...,highcontact,highcontact20s,numbercontacttotal,default_firstmonth_0,default_firstmonth_30,default_firstmonth_60,delaydate_max,default_max_0,default_max_30,default_max_60
0,72146187,1200345737,43,19951203,24,False,431222,湖南省,怀化市,沅陵县,...,False,False,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101101513,1200456775,32,19880607,31,False,320382,江苏省,徐州市,邳州市,...,True,True,47,False,False,False,-3.0,False,False,False
2,98608810,1200502203,42,19960503,23,False,420821,湖北省,荆门市,京山县,...,True,True,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,96300664,1200424426,51,20000620,19,True,510824,四川省,广元市,苍溪县,...,False,False,0,False,False,False,-23.0,False,False,False
4,105585598,1200512684,32,19940122,25,False,321324,江苏省,宿迁市,泗洪县,...,True,True,46,False,False,False,0.0,False,False,False

In [9]:
data.shape

(5000, 47)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   uid                    5000 non-null   int64
 1   id                     5000 non-null   int64
 2   provincecode           5000 non-null   int64
 3   birthday               5000 non-null   int64
 4   age                    5000 non-null   int64
 5   gender                 5000 non-null   bool
 6   areaid                 5000 non-null   int64
 7   provincename           3164 non-null   object
 8   cityname               3163 non-null   object
 9   areaname               3163 non-null   object
 10  instalments_num        5000 non-null   int64
 11  instalments_amount     5000 non-null   int64
 12  shop_address           5000 non-null   object
 13  trans_date             4996 non-null   object
 14  taobaostartdate        3794 non-null   object
 15  taobaoenddate          3907 non-null   object
 16  taobaodealno           5000 non-null   int64
 17  apptimes               5000 non-null   int64
 18  deal                   5000 non-null   int64
 19  apply_request_sum      5000 non-null   int64
 20  apply_reject_sum       5000 non-null   int64
 21  loan_offer_sum         1580 non-null   float64
 22  repay_fail_sum         1580 non-null   float64
 23  max_default_days       2205 non-null   float64
 24  default                2205 non-null   object
 25  province               5000 non-null   object
 26  nominalrates           4997 non-null   float64
 27  default30              2205 non-null   object
 28  alipaybalance          5000 non-null   float64
 29  yuebaobalance          5000 non-null   float64
 30  huabeiamount           5000 non-null   int64
 31  huabeibalance          5000 non-null   float64
 32  creditlevelasbuyer     4031 non-null   float64
 33  tencentscore           5000 non-null   float64
 34  gaodescore             5000 non-null   float64
 35  numbercontact          5000 non-null   int64
 36  numbercontact20s       5000 non-null   int64
 37  highcontact            5000 non-null   bool
 38  highcontact20s         5000 non-null   bool
 39  numbercontacttotal     5000 non-null   int64
 40  default_firstmonth_0   2205 non-null   object
 41  default_firstmonth_30  2205 non-null   object
 42  default_firstmonth_60  2205 non-null   object
 43  delaydate_max          2205 non-null   float64
 44  default_max_0          2205 non-null   object
 45  default_max_30         2205 non-null   object
 46  default_max_60         2205 non-null   object
dtypes: bool(3), float64(11), int64(17), object(16)
memory usage: 1.7+ MB

In [10]:
data.describe()

,uid,id,provincecode,birthday,age,areaid,instalments_num,instalments_amount,taobaodealno,apptimes,...,yuebaobalance,huabeiamount,huabeibalance,creditlevelasbuyer,tencentscore,gaodescore,numbercontact,numbercontact20s,numbercontacttotal,delaydate_max
count,5.000000e+03,5.000000e+03,5000.000000,5.000000e+03,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.00000,...,5000.000000,5000.000000,5000.000000,4031.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,2205.000000
mean,8.111683e+07,1.200468e+09,39.484000,1.991392e+07,27.675400,396256.327200,11.900400,406201.42000,168.486600,1.15960,...,429.160542,1308.978800,582.872618,53.119077,58.608168,0.201975,8.713000,7.092600,105.608800,153.494785
std,2.836443e+07,7.706665e+04,11.870785,8.325553e+04,8.326146,118965.023693,0.766679,130623.36024,4467.552233,0.57358,...,5611.936957,2497.842373,1774.035677,108.629757,14.218112,0.076724,23.833511,17.961619,234.927488,357.255584
min,1.812700e+04,1.200146e+09,11.000000,1.963020e+07,18.000000,110101.000000,6.000000,50000.00000,0.000000,1.00000,...,0.000000,0.000000,-6031.710000,0.000000,9.000000,0.023518,0.000000,0.000000,0.000000,-31.000000
25%,6.425284e+07,1.200404e+09,33.000000,1.987082e+07,21.000000,330326.750000,12.000000,320000.00000,2.000000,1.00000,...,0.000000,0.000000,0.000000,0.000000,53.888889,0.192094,0.000000,0.000000,0.000000,0.000000
50%,9.233801e+07,1.200470e+09,37.000000,1.994030e+07,25.000000,371316.500000,12.000000,398000.00000,34.000000,1.00000,...,0.000000,500.000000,3.075000,14.000000,60.200000,0.192094,3.000000,3.000000,47.000000,0.000000
75%,1.030515e+08,1.200533e+09,51.000000,1.998062e+07,32.000000,510725.000000,12.000000,498000.00000,80.000000,1.00000,...,2.932500,1500.000000,425.752500,58.000000,65.258929,0.192094,10.000000,8.000000,115.000000,6.000000
max,1.128031e+08,1.200601e+09,65.000000,2.001093e+07,56.000000,659001.000000,12.000000,869000.00000,270504.000000,17.00000,...,272288.550000,38000.000000,28551.800000,1830.000000,98.000000,0.732120,1169.000000,751.000000,4964.000000,1000.000000

In [19]:
data['default'].value_counts(dropna=False)

NaN      2795
False    1280
True      925
Name: default, dtype: int64

In [20]:
data['deal'].value_counts(dropna=False)

0    2793
1    2207
Name: deal, dtype: int64

In [21]:
data['highcontact'].value_counts(dropna=False)

False    2539
True     2461
Name: highcontact, dtype: int64

In [33]:
pd.get_dummies(data,columns=["highcontact","deal"])

,uid,id,provincecode,birthday,age,gender,areaid,provincename,cityname,areaname,...,default_firstmonth_30,default_firstmonth_60,delaydate_max,default_max_0,default_max_30,default_max_60,highcontact_False,highcontact_True,deal_0,deal_1
0,72146187,1200345737,43,19951203,24,False,431222,湖南省,怀化市,沅陵县,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,0
1,101101513,1200456775,32,19880607,31,False,320382,江苏省,徐州市,邳州市,...,False,False,-3.0,False,False,False,0,1,0,1
2,98608810,1200502203,42,19960503,23,False,420821,湖北省,荆门市,京山县,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0
3,96300664,1200424426,51,20000620,19,True,510824,四川省,广元市,苍溪县,...,False,False,-23.0,False,False,False,1,0,0,1
4,105585598,1200512684,32,19940122,25,False,321324,江苏省,宿迁市,泗洪县,...,False,False,0.0,False,False,False,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,97368947,1200582090,41,19870821,32,False,411528,河南省,信阳市,息县,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0
4996,83278392,1200369370,34,19980626,21,False,341221,安徽省,阜阳市,临泉县,...,False,False,4.0,True,False,False,0,1,0,1
4997,45196409,1200379786,34,19950412,24,False,340321,安徽省,蚌埠市,怀远县,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0
4998,74566336,1200594221,43,19760702,43,True,433022,NaN,NaN,NaN,...,False,False,0.0,False,False,False,0,1,0,1
4999,90999009,1200390400,41,19990312,20,True,411527,河南省,信阳市,淮滨县,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0

<a id="2"></a>
## 2Logit Regression

In [34]:
## Convert default to 0/1
data["default"][data["default"]==False] = 0
data["default"][data["default"]==True] = 1

<ipython-input-34-cc11cdf9ffdd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["default"][data["default"]==False] = 0
<ipython-input-34-cc11cdf9ffdd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["default"][data["default"]==True] = 1

In [35]:
data['default'].value_counts(dropna=False)

NaN    2795
0.0    1280
1.0     925
Name: default, dtype: int64

In [41]:
## drop null value records in default since it is the target variables
data_default = data[data['default'].notnull()]
data_default.shape

(2205, 47)

In [42]:
##There is null in data
data_default['creditlevelasbuyer'].value_counts(dropna=False)

NaN      354
0.0      345
1.0       69
2.0       42
3.0       40
        ...
109.0      1
390.0      1
299.0      1
307.0      1
145.0      1
Name: creditlevelasbuyer, Length: 313, dtype: int64

In [45]:
data_default['creditlevelasbuyer'].describe()

count    1851.000000
mean       68.571583
std       125.887370
min         0.000000
25%         3.000000
50%        26.000000
75%        78.000000
max      1830.000000
Name: creditlevelasbuyer, dtype: float64

68.57158292814695

In [47]:
## Fill the void with mean
data_default['creditlevelasbuyer'][data_default['creditlevelasbuyer'].isnull()] = data_default['creditlevelasbuyer'].mean()
## Fill the void with other related variables
# data_default.corr()['creditlevelasbuyer']

<ipython-input-47-5603ad4d2f49>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_default['creditlevelasbuyer'][data_default['creditlevelasbuyer'].isnull()] = data_default['creditlevelasbuyer'].mean()
C:\Users\221041007\Anaconda3\lib\site-packages\pandas\core\series.py:992: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)

In [65]:
## Defin X and Y
Y = data_default['default']
X = np.array(data_default['creditlevelasbuyer']).reshape(-1,1)

In [69]:
Y = Y.astype('int')

In [70]:
lg = LogisticRegression()
lg.fit(X,Y)

LogisticRegression()